body{
    background-color: white;
}
.heading{
        border: 2px solid;
        text-align: center;
        background-color: blue;
        color: white;
        padding: 10px 5px 10px 5px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        font-style: italic;
        font-size:larger;

}
.myimg{
    width: 6000px;
    height: 200px; 
    
    background-image: url("../public/assets/school.avif");
    background-repeat: no-repeat;
    display: grid;
}
.myimg>h3{
    color:blueviolet;
    display: grid;
    align-content:baseline;
    padding-left: 30px;
}
.mycontinername{
    display: grid;
    font-weight: bold;
    width: 40px;
    padding-left: 10px;

}
.mymycontineremail{
    display: grid;
    font-weight: bold;
    width: 40px;
    padding-left: 10px;
}
.mycontinernumber{
    display: grid;
    width: 40px;
    padding-left: 10px;
}
#forgender{ 
    font-weight:lighter;
    font-family: Verdana, Geneva;
    padding-left: 10px;

}
.course{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-left: 10px;
}
.address{
    width: 30px;
    height: 40px;
    font-family: 'Times New Roman';

}
.mycheckbox{
    padding-top: 30px;
}
.register{
    background-color: red;
    color: white;
    display: block;
    justify-items: center;
    align-items: center;
   
}
.register:hover{
    width: 70px;
    height: 40px;
    background-color: green;
    cursor: pointer;
}
