#h3id{
    color: white;
    background-color: #4040f8;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 10px;
    
}
#navid{
    display: flex;
    gap: 10px;
    padding-left: 550px;
    color: white;
}
/* #img_text_id{
    color: aqua;
    position:absolute;
    padding-bottom: 300px; }*/
